# Copyright (c) 2022 Gleb Sabirzyanov
# SPDX-License-Identifier: MIT

if SHIELD_TEST_ZERO

config ZMK_KEYBOARD_NAME
	default "Test Zero"


config ZMK_DISPLAY
    def_bool y

config SSD1306
    def_bool y

config I2C
	default y

endif

